
line.string {
    fill: #000;
    stroke: #000;
    stroke-width: 2px;
}

line.fret {
    fill: #000;
    stroke: brown;
}

div#control {
    position: relative;
    height: 150px;
}
div#scale {
    position: absolute;
    left: 0px;
    width: 300px;
}

div#chord {
    position: absolute;
    top: 30%;
    right: 0px;
}

/* midi-key-finder */

button {
    width: 100px;
}
button.highlighted {
    font-weight: bold;
}

table#scoreboard {
    /*border: 2px solid green;*/
    /*border-collapse: collapse;*/
}

table#scoreboard th.mode-name-header {
    background-color: #ccf;
}
th.mode-name-header {
    width: 4em;
}

table#scoreboard th.note-name-header, table#scoreboard td.note-name {
    background-color: #cff;
}

td.note-name.note-on {
    background-color: #888 !important;
}

table#scoreboard td {
    width: 50px;
    height: 25px;
}

table#scoreboard td.note-name {
    /*border: 1px solid black;*/
}

table#scoreboard td.fitness {
    border: 3px solid transparent;
}
table#scoreboard td.fitness.selected {
    border: 3px solid black;
}


table#scale {
    /*border: 2px solid green;*/
    border-collapse: collapse;
    margin: 20px;
}

table#scale td {
    border: 1px solid black;
    width: 20px;
    padding: 5px;
}

td.scale-degree-1 {
    background-color: #F33C27; /* red */
}
td.scale-degree-2 {
    background-color: #FEAB3A; /* orange */
}
td.scale-degree-3 {
    background-color: #F2DF3E; /* yellow */
}
td.scale-degree-4 {
    background-color: #5BC92F; /* green */
}
td.scale-degree-5 {
    background-color: #234CF7; /* blue */
    color: #fff;
}
td.scale-degree-6 {
    background-color: #A551DF; /* purple */
    color: #fff;
}
td.scale-degree-7 {
    background-color: #F300C8; /* sorta pink/magenta-ish */
    color: #fff;
}
    
table#scale td.in-scale {
    background-color: #fff;
    color: #000;
}

table#scale td.not-in-scale {
    background-color: #666;
    color: #fff;
}

table#scale td.degree.not-in-scale {
    background-color: #ccc;
    color: #fff;
}


table#chords {
    /*border: 2px solid green;*/
    border-collapse: collapse;
    margin: 20px;
}

table#chords td {
    border: 1px solid black;
    padding: 5px 10px;
    width: 20px;
}
